<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006264483933-0e372ro166e7hmb84a6gkio57b3orab5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006264483933-0e372ro166e7hmb84a6gkio57b3orab5</string>
	<key>API_KEY</key>
	<string>AIzaSyDb1UgTB2hQG8WRj5vruWVLGdKZKecnHpc</string>
	<key>GCM_SENDER_ID</key>
	<string>1006264483933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpleware.betapp</string>
	<key>PROJECT_ID</key>
	<string>bet-app-c895a</string>
	<key>STORAGE_BUCKET</key>
	<string>bet-app-c895a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006264483933:ios:5b3dd37214f36621cc8db4</string>
</dict>
</plist>