<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856379017428-527bs2s0ibt8teukli8t5vr1t6pit2pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856379017428-527bs2s0ibt8teukli8t5vr1t6pit2pv</string>
	<key>API_KEY</key>
	<string>AIzaSyDR_7azE8oUnjZ6isaIrVZP0b8PAZUiLIo</string>
	<key>GCM_SENDER_ID</key>
	<string>856379017428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpleware.guessio</string>
	<key>PROJECT_ID</key>
	<string>guessio-e6150</string>
	<key>STORAGE_BUCKET</key>
	<string>guessio-e6150.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856379017428:ios:6e210f4f5bb3282658d341</string>
</dict>
</plist>